<template>

  <div id="page-user-list">

    <div class="vx-card p-6 mb-base">

      <!-- Header -->
      <div class="flex justify-between flex-wrap items-center">

        <div style="display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 16px; align-items: center;">
          <v-select v-model="kuartal" :clearable="false" :options="kuartalOptions"></v-select>
          <v-select v-model="year" :clearable="false" :options="yearOptions"></v-select>
        </div>

        <div style="display: grid; grid-template-columns: repeat(2, auto); grid-gap: 16px; align-items: center;">
          <!-- Button Add -->
          <vs-button color="primary" type="border" icon-pack="feather" icon="icon-printer" @click="$router.push({ name: 'quotation-create' })">Print</vs-button>
          <vs-button color="primary" icon-pack="feather" icon="icon-database" @click="$router.push({ name: 'quotation-create' })">Import CSV</vs-button>
        </div>

      </div>
    </div>

    <div class="vx-row mb-base">
      <!-- CUSTOMERS CHART -->
      <div class="vx-col w-full lg:w-1/2">
        <vx-card title="Charged Units Chart" style="height: 100%;">
          <vue-apex-charts type="bar" height="266" :options="chargedUnitsChart.options" :series="chargedUnitsChart.series" v-if="chargedUnits.length > 0" />
          <div v-else><small>No data on {{kuartal.label}} ({{year}}).</small></div>
        </vx-card>
      </div>

      <div class="vx-col w-full lg:w-1/2">
        <vx-card title="Top Testcases" style="height: 100%;">
          <vue-apex-charts type="pie" height="300" :options="testCasesChart.options" :series="testCasesChart.series" v-if="testCases.length > 0" />
          <div v-else><small>No data on {{kuartal.label}} ({{year}}).</small></div>
        </vx-card>
      </div>
    </div>

    <div class="vx-card p-6">

      <!-- Header -->
      <div class="flex justify-between flex-wrap items-center">

        <!-- Search Form -->
        <vs-input class="sm:mr-4 mr-0 sm:w-auto w-full sm:order-normal order-3 sm:mt-0 mt-4" v-model="searchQuery" @input="updateSearchQuery" placeholder="Search..." />

        <vs-button color="primary" icon-pack="feather" icon="icon-plus" class="mr-4" @click="addItem">Add Item</vs-button>

      </div>


      <!-- AgGrid Table -->
      <ag-grid-vue
        ref="agGridTable"
        :components="components"
        :gridOptions="gridOptions"
        class="ag-theme-material w-100 my-4 ag-grid-table"
        :columnDefs="columnDefs"
        :defaultColDef="defaultColDef"
        :rowData="itemsData"
        rowSelection="multiple"
        colResizeDefault="shift"
        :animateRows="true"
        :floatingFilter="false"
        :pagination="true"
        :paginationPageSize="paginationPageSize"
        :suppressPaginationPanel="true"
        :enableRtl="$vs.rtl">
      </ag-grid-vue>

      <!-- Pagination -->
      <div class="vx-row">
        <div class="vx-col sm:w-1/2 w-full">
          <!-- ITEMS PER PAGE -->
          <vs-dropdown vs-trigger-click class="cursor-pointer">
            <div class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
              <span class="mr-2">{{ currentPage * paginationPageSize - (paginationPageSize - 1) }} - {{ itemsData.length - currentPage * paginationPageSize > 0 ? currentPage * paginationPageSize : itemsData.length }} of {{ itemsData.length }}</span>
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>
            <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
            <vs-dropdown-menu>

              <vs-dropdown-item @click="gridApi.paginationSetPageSize(10)">
                <span>10</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(20)">
                <span>20</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(25)">
                <span>25</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(30)">
                <span>30</span>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
        </div>
        <div class="vx-col sm:w-1/2 w-full">
          <!-- PAGINATION -->
          <vs-pagination
            :total="totalPages"
            :max="7"
            v-model="currentPage" />
        </div>
      </div>

    </div>

    <!--  Popup  -->
    <vs-popup classContent="popup-example" :title="`${mode} item`" :active.sync="popup">

      <div class="vx-row">
        <div class="vx-col md:w-2/3 w-full">
          <vs-input class="w-full mb-3" :label="$i18n.t('Activity')" v-model="form.activity" />
        </div>
        <div class="vx-col md:w-1/3 w-full">
          <small class="mb-1">{{ $i18n.t('Date') }}</small>
          <datepicker format="d/MM/yyyy" :value="form.date" @input="form.date = $moment($event)"></datepicker>
        </div>
      </div>

      <div class="vx-row">
        <div class="vx-col md:w-1/2 w-full">
          <vs-input class="w-full mb-3" :label="$i18n.t('HutchisonPIC')" v-model="form.hutchison_pic" />
        </div>
        <div class="vx-col md:w-1/2 w-full">
          <vs-input class="w-full mb-3" :label="$i18n.t('ArgasolusiPIC')" v-model="form.argasolusi_pic" />
        </div>
      </div>

      <div class="vx-row mb-5">
        <div class="vx-col md:w-1/2 w-full">
          <small class="mb-1">{{ $i18n.t('StartDate') }}</small>
          <datepicker format="d/MM/yyyy" :value="form.start_date" @input="form.start_date = $moment($event)"></datepicker>
        </div>
        <div class="vx-col md:w-1/2 w-full">
          <small class="mb-1">{{ $i18n.t('EndDate') }}</small>
          <datepicker format="d/MM/yyyy" :value="form.completed_date" @input="form.completed_date = $moment($event)"></datepicker>
        </div>
      </div>

      <div class="vx-row">
        <div class="vx-col md:w-1/1 w-full">
          <small class="mb-1">{{ $i18n.t('Remark') }}</small>
          <vs-textarea class="w-full mb-3" rows="6" v-model="form.remark" />
        </div>
      </div>

      <div class="mt-5">
        <vs-button color="primary" type="filled" icon-pack="feather" icon="icon-save" @click="storeItem">
          {{ $i18n.t('Save') }}
        </vs-button>
      </div>

    </vs-popup>

  </div>

</template>

<script>
import { AgGridVue } from 'ag-grid-vue'
import VueApexCharts from 'vue-apexcharts'
import '@/assets/scss/vuexy/extraComponents/agGridStyleOverride.scss'
import vSelect from 'vue-select'
import Datepicker from "vuejs-datepicker";


import axios from '@/axios';

// Store Module
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

// Cell Renderer
import CellRendererLink from './cell-renderer/CellRendererLink.vue'
import CellRendererStatus from './cell-renderer/CellRendererStatus.vue'
import CellRendererVerified from './cell-renderer/CellRendererVerified.vue'
import CellRendererActions from './cell-renderer/CellRendererActions.vue'
import CellRendererFile from './cell-renderer/CellRendererFile.vue'
import {colors} from "../../../../../themeConfig";


export default {
  components: {
    AgGridVue,
    VueApexCharts,
    vSelect,
    Datepicker,

    // Cell Renderer
    CellRendererLink,
    CellRendererStatus,
    CellRendererVerified,
    CellRendererActions,
    CellRendererFile
  },
  data () {
    return {

      // Cell Renderer Components
      components: {
        CellRendererLink,
        CellRendererStatus,
        CellRendererVerified,
        CellRendererActions
      },

      searchQuery: '',
      year: '2020',
      kuartal: {label: 'Quartal 1', code: 1},
      yearOptions: ['2020'].reverse(),
      kuartalOptions: [{label: 'Quartal 1', code: 1}, {label: 'Quartal 2', code: 2}, {label: 'Quartal 3', code: 3}, {label: 'Quartal 4', code: 4}],

      form: {},
      popup: false,
      mode: 'add',
      itemSelected: false,

      chargedUnits: [],
      testCases: [],
      chargedUnitsChart: {
        options: {},
        series: [],
      },
      testCasesChart: {
        options: {},
        series: [],
      },

      // AgGrid
      gridApi: null,
      gridOptions: {},
      itemsData: [],
      defaultColDef: {
        sortable: true,
        resizable: true,
        suppressMenu: true
      },
      columnDefs: [
        {
          headerName: this.$i18n.t('Date'),
          field: 'date',
          filter: true,
          headerClass: 'text-center',
          cellClass: 'text-center'
        },
        {
          headerName: this.$i18n.t('Activity'),
          field: 'activity',
          filter: true,
        },
        {
          headerName: this.$i18n.t('Hutchison PIC'),
          field: 'hutchison_pic',
          filter: true,
        },
        {
          headerName: this.$i18n.t('Argasolusi PIC'),
          field: 'argasolusi_pic',
          filter: true,
          width: 170,
        },
        {
          headerName: this.$i18n.t('Remark'),
          field: 'remark',
          filter: true,
          width: 200,
        },
        {
          headerName: 'Action',
          width: 100,
          cellRendererFramework: 'CellRendererActions',
          headerClass: 'text-center',
          cellClass: 'text-center',
          cellRendererParams: {
            editItem: this.editItem.bind(this),
            deleteItem: this.deleteItem.bind(this),
          },
        }
      ],
    }
  },
  computed: {
    paginationPageSize () {
      if (this.gridApi) return this.gridApi.paginationGetPageSize()
      else return 10
    },
    totalPages () {
      if (this.gridApi) return this.gridApi.paginationGetTotalPages()
      else return 0
    },
    currentPage: {
      get () {
        if (this.gridApi) return this.gridApi.paginationGetCurrentPage() + 1
        else return 1
      },
      set (val) {
        this.gridApi.paginationGoToPage(val - 1)
      }
    }
  },
  methods: {
    updateSearchQuery (val) {
      this.gridApi.setQuickFilter(val)
    },
    getData () {
      let params = {
        year: this.year,
        kuartal: this.kuartal.code,
      };

      axios.get('/technical/monthly-report', {params}).then(resp => {
        this.itemsData = resp.data
      } ).catch(err => {
        this.$vs.notify({
          title:'Opps something error',
          text: err.data.message,
          color:'danger'
        })

      })

      axios.get('/technical/charged-units', {params}).then(resp => {
        this.chargedUnits = resp.data
        this.chargedUnitsChart.series = [
          {
            name: 'Charged Units',
            data: this.chargedUnits.map(cu => cu.charged_units),
          }
        ];

        this.chargedUnitsChart.options = {
          chart: {
            stacked: true,
          },
          plotOptions: {
            bar: {
              horizontal: false,
              columnWidth: '55%',
            },
          },
          stroke: {
            show: true,
            width: 2,
            colors: ['transparent']
          },
          xaxis: {
            categories: this.chargedUnits.map(cu => cu.month)
          },
          colors: Object.values(colors),
        }

      } ).catch(err => {
        this.$vs.notify({
          title:'Opps something error',
          text: err.data.message,
          color:'danger'
        })

      })

      axios.get('/technical/execution-id', {params}).then(resp => {
        this.testCases = resp.data
        this.testCasesChart.options =  {
          labels: this.testCases.map((tc) => tc.tcname),
          dataLabels: {
            enabled: true,
            formatter: function (val) {
              return val.toFixed(2) + "%"
            },
            dropShadow: {
            }
          },
          theme: {
            monochrome: {
              enabled: false
            }
          },
          legend: {
            show: true,
            position: 'bottom',
          },
          chart: {
            type: 'pie',
            offsetY: 0,
            dropShadow: {
              enabled: false,
              blur: 5,
              left: 1,
              top: 1,
              opacity: 0.2
            },
            toolbar: {
              show: false
            }
          },
          stroke: {
            width: 5
          },
          colors: Object.values(colors),
        }

        this.testCasesChart.series = this.testCases.map((tc) => tc.execution_id);

      }).catch(err => {
        this.$vs.notify({
          title:'Opps something error',
          text: err.data.message,
          color:'danger'
        })

      })
    },
    addItem () {
      this.popup = true;
      this.mode = 'add';
    },
    editItem (item) {
      this.popup = true;
      this.mode = 'edit';
      this.itemSelected = item;

      this.form = {
        activity: item.activity,
        date: item.date,
        hutchison_pic: item.hutchison_pic,
        argasolusi_pic: item.argasolusi_pic,
        start_date: item.start_date,
        completed_date: item.completed_date,
        remark: item.remark,
      };
    },
    deleteItem (item) {
      axios.delete('/technical/monthly-report/' + item.id).then(resp => {
        this.$swal({
          title: 'Successful',
          text: resp.data.message,
          icon: 'success'
        }).then(() => {
          this.getData();
        });
      }).catch(err => {
        this.$vs.notify({
          title:'Opps something error',
          text: err.data.message,
          color:'danger'
        })
      })
    },
    storeItem () {
      if (this.mode == 'add') {
        let body = {
          activity: this.form.activity,
          date: this.form.date,
          hutchison_pic: this.form.hutchison_pic,
          argasolusi_pic: this.form.argasolusi_pic,
          start_date: this.form.start_date,
          completed_date: this.form.completed_date,
          remark: this.form.remark,
        };

        axios.post('/technical/monthly-report', body).then(resp => {
          this.popup = false;

          this.$swal({
            title: 'Successful',
            text: resp.data.message,
            icon: 'success'
          }).then(() => {
            this.getData();
          });
        }).catch(err => {
          this.$vs.notify({
            title:'Opps something error',
            text: err.data.message,
            color:'danger'
          })
        })
      }
      else if (this.mode == 'edit') {
        let body = {
          activity: this.form.activity,
          date: this.form.date,
          hutchison_pic: this.form.hutchison_pic,
          argasolusi_pic: this.form.argasolusi_pic,
          start_date: this.form.start_date,
          completed_date: this.form.completed_date,
          remark: this.form.remark,
          _method: 'PUT',
        };

        axios.post('/technical/monthly-report/' + this.itemSelected.id, body).then(resp => {
          this.popup = false;

          this.$swal({
            title: 'Successful',
            text: resp.data.message,
            icon: 'success'
          }).then(() => {
            this.getData();
          });
        }).catch(err => {
          this.$vs.notify({
            title:'Opps something error',
            text: err.data.message,
            color:'danger'
          })
        })
      }

      this.mode = false;
    }
  },
  mounted () {
    this.gridApi = this.gridOptions.api
    if (this.$vs.rtl) {
      const header = this.$refs.agGridTable.$el.querySelector('.ag-header-container')
      header.style.left = `-${  String(Number(header.style.transform.slice(11, -3)) + 9)  }px`
    }

    this.gridApi.sizeColumnsToFit()
  },
  watch: {
    year () {
      this.getData();
    },
    kuartal () {
      this.getData();
    },
    $route () {
      this.getData();
    },
    popup () {
      if (!this.popup) {
        this.form = {};
      }
    }
  },
  created () {

    this.getData();

  }
}

</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
.con-vs-popup .vs-popup--content {
  overflow: visible;
}
</style>
