<template>

  <div id="page-user-list">

    <div class="vx-card p-6">

      <!-- Header -->
      <div class="flex justify-between flex-wrap items-center">

        <!-- Search Form -->
        <vs-input class="sm:mr-4 mr-0 sm:w-auto w-full sm:order-normal order-3 sm:mt-0 mt-4" v-model="searchQuery" @input="updateSearchQuery" placeholder="Search..." />

        <div style="display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 16px; align-items: end;">
          <div>
            <small class="mb-1">{{ $i18n.t('StartDate') }}</small>
            <datepicker format="d/MM/yyyy" :value="start_date" @input="start_date = $moment($event)"></datepicker>
          </div>
          <div>
            <small class="mb-1">{{ $i18n.t('EndDate') }}</small>
            <datepicker format="d/MM/yyyy" :value="end_date" @input="end_date = $moment($event)"></datepicker>
          </div>
          <vs-button color="primary" icon-pack="feather" icon="icon-plus" class="mr-4" @click="addItem">Add Item</vs-button>
        </div>

      </div>


      <!-- AgGrid Table -->
      <ag-grid-vue
        ref="agGridTable"
        :components="components"
        :gridOptions="gridOptions"
        class="ag-theme-material w-100 my-4 ag-grid-table"
        :columnDefs="columnDefs"
        :defaultColDef="defaultColDef"
        :rowData="itemsData"
        rowSelection="multiple"
        colResizeDefault="shift"
        :animateRows="true"
        :floatingFilter="false"
        :pagination="true"
        :paginationPageSize="paginationPageSize"
        :suppressPaginationPanel="true"
        :enableRtl="$vs.rtl">
      </ag-grid-vue>

      <!-- Pagination -->
      <div class="vx-row">
        <div class="vx-col sm:w-1/2 w-full">
          <!-- ITEMS PER PAGE -->
          <vs-dropdown vs-trigger-click class="cursor-pointer">
            <div class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
              <span class="mr-2">{{ currentPage * paginationPageSize - (paginationPageSize - 1) }} - {{ itemsData.length - currentPage * paginationPageSize > 0 ? currentPage * paginationPageSize : itemsData.length }} of {{ itemsData.length }}</span>
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>
            <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
            <vs-dropdown-menu>

              <vs-dropdown-item @click="gridApi.paginationSetPageSize(10)">
                <span>10</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(20)">
                <span>20</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(25)">
                <span>25</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(30)">
                <span>30</span>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
        </div>
        <div class="vx-col sm:w-1/2 w-full">
          <!-- PAGINATION -->
          <vs-pagination
            :total="totalPages"
            :max="7"
            v-model="currentPage" />
        </div>
      </div>

    </div>

    <!--  Popup  -->
    <vs-popup classContent="popup-example" :title="`${mode} item`" :active.sync="popup">

      <div class="vx-row">

        <div class="vx-col md:w-1/3 w-full">
          <small class="mb-1">{{ $i18n.t('Date') }}</small>
          <datepicker format="d/MM/yyyy" :value="form.date"  :disabled="this.mode == 'edit'" @input="form.date = $moment($event)"></datepicker>
        </div>
        <div class="vx-col md:w-1/3 w-full">
          <small class="mb-1">{{ $i18n.t('Hour') }}</small>
          <flat-pickr :config="configdateTimePicker"  :disabled="this.mode == 'edit'" v-model="form.time" :placeholder="`00:00`" style="width: 100%" />
        </div>
        <div class="vx-col md:w-1/3 w-full">
          <vs-input type="number" class="w-full mb-3" :label="$i18n.t('Duration')" v-model="form.duration" />
        </div>
      </div>

      <div class="vx-row">
        <div class="vx-col md:w-2/3 w-full">
          <small class="mb-1">{{ $i18n.t('Technical') }}</small>
          <v-select v-model="form.technical" :clearable="false" label="name" :options="technicalsOptions"></v-select>
        </div>
        <div class="vx-col md:w-1/3 w-full">
          <small class="mb-1">{{ $i18n.t('Activity') }}</small>
          <v-select v-model="form.activity" :clearable="false" :options="['Rutin', 'Non Rutin']"></v-select>
        </div>
      </div>

      <div class="vx-row">
        <div class="vx-col md:w-1/1 w-full">
          <vs-input class="w-full mb-3" :label="$i18n.t('Subject')" v-model="form.subject" />
        </div>
      </div>

      <div class="vx-row">
        <div class="vx-col md:w-1/1 w-full">
          <small class="mb-1">{{ $i18n.t('Description') }}</small>
          <vs-textarea class="w-full mb-3" rows="6" v-model="form.description" />
        </div>
      </div>

      <div class="mt-5">
        <vs-button color="primary" type="filled" icon-pack="feather" icon="icon-save" @click="storeItem">
          {{ $i18n.t('Save') }}
        </vs-button>
      </div>

    </vs-popup>

  </div>

</template>

<script>
import { AgGridVue } from 'ag-grid-vue'
import '@/assets/scss/vuexy/extraComponents/agGridStyleOverride.scss'
import vSelect from 'vue-select'
import Datepicker from "vuejs-datepicker";
import moment from 'moment';
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';

import axios from '@/axios';

// Store Module
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

// Cell Renderer
import CellRendererLink from './cell-renderer/CellRendererLink.vue'
import CellRendererStatus from './cell-renderer/CellRendererStatus.vue'
import CellRendererVerified from './cell-renderer/CellRendererVerified.vue'
import CellRendererActions from './cell-renderer/CellRendererActions.vue'
import CellRendererFile from './cell-renderer/CellRendererFile.vue'


export default {
  components: {
    AgGridVue,
    vSelect,
    Datepicker,
    flatPickr,

    // Cell Renderer
    CellRendererLink,
    CellRendererStatus,
    CellRendererVerified,
    CellRendererActions,
    CellRendererFile
  },
  data () {
    return {

      searchQuery: '',
      year: '2020',
      yearOptions: ['2015', '2016', '2017', '2018', '2019', '2020'].reverse(),

      start_date: moment(new Date()).format('yyyy-MM-DD'),
      end_date: moment(new Date()).format('yyyy-MM-DD'),

      form: {
        date: moment(new Date()).format('yyyy-MM-DD'),
      },
      popup: false,
      mode: 'add',
      itemSelected: false,
      configdateTimePicker: {
        enableTime: true,
        enableSeconds: false,
        noCalendar: true,
        time_24hr: true,
        defaultHour: 8,
        minuteIncrement: 30
      },
      technicalsOptions: [],

      // AgGrid
      gridApi: null,
      gridOptions: {},
      itemsData: [],
      defaultColDef: {
        sortable: true,
        resizable: true,
        suppressMenu: true
      },
      columnDefs: [
        {
          headerName: this.$i18n.t('Technical'),
          field: 'technical',
          filter: true,
          headerClass: 'text-center',
          cellClass: 'text-center'
        },
        {
          headerName: this.$i18n.t('Date'),
          field: 'date',
          filter: true,
        },
        {
          headerName: this.$i18n.t('Duration'),
          field: 'duration',
          filter: true,
        },
        {
          headerName: this.$i18n.t('Activity'),
          field: 'activity',
          filter: true,
        },
        {
          headerName: this.$i18n.t('Subject'),
          field: 'subject',
          filter: true,
        },
        {
          headerName: 'Action',
          width: 120,
          cellRendererFramework: 'CellRendererActions',
          headerClass: 'text-center',
          cellClass: 'text-center',
          cellRendererParams: {
            editItem: this.editItem.bind(this),
            deleteItem: this.deleteItem.bind(this),
          },
        }
      ],
    }
  },
  computed: {
    paginationPageSize () {
      if (this.gridApi) return this.gridApi.paginationGetPageSize()
      else return 10
    },
    totalPages () {
      if (this.gridApi) return this.gridApi.paginationGetTotalPages()
      else return 0
    },
    currentPage: {
      get () {
        if (this.gridApi) return this.gridApi.paginationGetCurrentPage() + 1
        else return 1
      },
      set (val) {
        this.gridApi.paginationGoToPage(val - 1)
      }
    }
  },
  methods: {
    updateSearchQuery (val) {
      this.gridApi.setQuickFilter(val)
    },
    getData () {
      let params = {
        start: this.start_date,
        end: this.end_date,
      };

      axios.get('/technical/techteam-report', {params}).then(resp => this.itemsData = resp.data ).catch(err => {
        this.$vs.notify({
          title:'Opps something error',
          text: err.data.message,
          color:'danger'
        })

      })
    },
    addItem () {
      this.popup = true;
      this.mode = 'add';
    },
    editItem (item) {
      this.popup = true;
      this.mode = 'edit';
      this.itemSelected = item;

      this.form = {
        technical: item.technical,
        date: item.date,
        time: item.time,
        duration: item.duration,
        activity: item.activity,
        subject: item.subject,
        description: item.description,
      };
    },
    deleteItem (item) {
      axios.delete('/technical/techteam-report/' + item.id).then(resp => {
        this.$swal({
          title: 'Successful',
          text: resp.data.message,
          icon: 'success'
        }).then(() => {
          this.getData();
        });
      }).catch(err => {
        this.$vs.notify({
          title:'Opps something error',
          text: err.data.message,
          color:'danger'
        })
      })
    },
    storeItem () {
      if (this.mode == 'add') {
        let body = {
          technical: this.form.technical.name,
          date: this.form.date,
          time: this.form.time,
          duration: this.form.duration,
          activity: this.form.activity,
          subject: this.form.subject,
          description: this.form.description,
          id_user: this.$store.state.AppActiveUser.id,
        };

        axios.post('/technical/techteam-report', body).then(resp => {
          this.popup = false;

          this.$swal({
            title: 'Successful',
            text: resp.data.message,
            icon: 'success'
          }).then(() => {
            this.getData();
            this.mode = false;
          });
        }).catch(err => {
          this.$vs.notify({
            title:'Opps something error',
            text: err.data.message,
            color:'danger'
          })
        })
      }
      else if (this.mode == 'edit') {
        let body = {
          technical: this.form.technical,
          date: this.form.date,
          time: this.form.time,
          duration: this.form.duration,
          activity: this.form.activity,
          subject: this.form.subject,
          description: this.form.description,
          id_user: this.$store.state.AppActiveUser.id,
          _method: 'PUT',
        };

        axios.post('/technical/techteam-report/' + this.itemSelected.id, body).then(resp => {
          this.popup = false;

          this.$swal({
            title: 'Successful',
            text: resp.data.message,
            icon: 'success'
          }).then(() => {
            this.getData();
            this.mode = false;
          });
        }).catch(err => {
          this.$vs.notify({
            title:'Opps something error',
            text: err.data.message,
            color:'danger'
          })
        })
      }


    }
  },
  mounted () {
    this.gridApi = this.gridOptions.api
    if (this.$vs.rtl) {
      const header = this.$refs.agGridTable.$el.querySelector('.ag-header-container')
      header.style.left = `-${  String(Number(header.style.transform.slice(11, -3)) + 9)  }px`
    }

    this.gridApi.sizeColumnsToFit()
  },
  watch: {
    year () {
      this.getData();
    },
    $route () {
      this.getData();
    },
    start_date () {
      this.getData();
    },
    end_date () {
      this.getData();
    },
    popup () {
      if (!this.popup) {
        this.form = {
          date: moment(new Date()).format('yyyy-MM-DD'),
        };
      }
    }
  },
  created () {

    axios.get('/user?id_jabatan=2', {}).then(resp => this.technicalsOptions = resp.data ).catch(err => {
      this.$vs.notify({
        title:'Opps something error',
        text: err.data.message,
        color:'danger'
      })

    })

    this.getData();

  }
}

</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
</style>
