<template>
<div>
  <div class="vx-row" v-if="item">
    <div class="vx-col w-full lg:w-1/1">
      <!-- ABOUT CARD -->
      <vx-card :title="`Detail ${$i18n.t('IncomingLetter')}`" class="mt-base">
        <!-- ACTION SLOT -->
        <template slot="actions">
          <vs-button color="danger" icon-pack="feather" icon="icon-arrow-left" type="border" @click="$router.push({ name: 'incoming-letter' })">
            {{ $i18n.t('Back') }}
          </vs-button>
        </template>

        <div class="vx-row">
          <div class="vx-col w-full lg:w-1/2" v-for="(cell, i) in cells" :key="i">
            <div class="mt-5">
              <h6 class="font-bold">{{ cell.header }}</h6>
              <p>{{ item[cell.field] }}</p>
            </div>
          </div>
        </div>


      </vx-card>
    </div>
  </div>
</div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "IncomingLetterDetail",
  data: () => ({

  }),
  computed: {
    ...mapGetters({
      item: 'incomingLetter/showItem',
      items: 'incomingLetter/getItems'
    }),
    cells () {
      return [
        {
          header: this.$i18n.t('Receiver'),
          field: 'penerima'
        },
        {
          header: this.$i18n.t('DateOfReceipt'),
          field: 'tanggal_terima'
        },
        {
          header: this.$i18n.t('LetterNumber'),
          field: 'nomor_surat'
        },
        {
          header: this.$i18n.t('LetterDate'),
          field: 'tanggal_surat'
        },
        {
          header: this.$i18n.t('CompanyName'),
          field: 'nama_perusahaan'
        },
        {
          header: this.$i18n.t('Adress'),
          field: 'alamat'
        },
        {
          header: this.$i18n.t('ContactPerson'),
          field: 'cp'
        },
        {
          header: this.$i18n.t('PhoneFax'),
          field: 'telp_fax'
        },
        {
          header: this.$i18n.t('Subject'),
          field: 'perihal'
        },
        {
          header: this.$i18n.t('Page'),
          field: 'page'
        },
        {
          header: this.$i18n.t('Purpose'),
          field: 'tujuan_surat'
        },
        {
          header: this.$i18n.t('FileLocation'),
          field: 'lokasi_file'
        }
      ]
    }
  },
  created () {
    this.id = this.$secure.decrypt(this.$route.params.id);
    this.$store.dispatch('incomingLetter/detailItem', { id: this.id  });
  }
}
</script>

<style scoped>

</style>
