<template>

  <div id="page-user-list">

    <div class="vx-card mb-10 p-6">
      <div class="flex justify-between flex-wrap items-end mb-5">

        <div>
          <h4 class="mb-2">Messenger Activity</h4>
          <span class="text-gray">
            <feather-icon icon="CalendarIcon" svgClasses="h-4 w-4 hover:text-primary" />
            {{ date }}
          </span>
        </div>
        <vs-input type="date" :label="$i18n.t('Date')" v-model="date"></vs-input>

      </div>

      <div class="schedule"  v-if="items.map(item => item.schedules.length).flat(1).reduce((total, item) => { total += item; return total; }) > 0">
        <div class="schedule-header">
          <div class="schedule-title"><h6>Messenger Name</h6></div>
          <div class="schedule-times" :style="`grid-template-columns: repeat(${times.length}, 1fr)`">
            <div class="time" v-for="time in times">{{time}}:00</div>
          </div>
        </div>
        <div class="schedule-content">
          <div class="schedule-item" v-for="(item, i) in items" :key="i">
            <div class="schedule-messenger">{{item.name}}</div>
            <div class="schedule-fill">
              <div @click.prevent="showRequest(schedule.req)" :class="`schedule-fill-item ${colors[i]} text-white`" :style="`width: ${getWidth(schedule)}%; left: ${getLeft(schedule)}%;`" v-for="schedule in item.schedules">
                <marquee behavior="scroll" direction="left" scrolldelay="200">{{ schedule.req.tujuan }}</marquee>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-else>No activity.</div>

    </div>

    <div class="vx-card p-6">

      <div class="flex justify-between flex-wrap items-center">

        <!-- TABLE ACTION COL-2: SEARCH & EXPORT AS CSV -->
        <vs-input class="sm:mr-4 mr-0 sm:w-auto w-full sm:order-normal order-3 sm:mt-0 mt-4" v-model="searchQuery" @input="updateSearchQuery" placeholder="Search..." />
        <!-- <vs-button class="mb-4 md:mb-0" @click="gridApi.exportDataAsCsv()">Export as CSV</vs-button> -->

        <vs-button color="primary" icon-pack="feather" icon="icon-plus" class="mr-4" @click="addItem">Add Item</vs-button>

      </div>

      <!-- AgGrid Table -->
      <ag-grid-vue
        ref="agGridTable"
        :components="components"
        :gridOptions="gridOptions"
        class="ag-theme-material w-100 my-4 ag-grid-table"
        :columnDefs="columnDefs"
        :defaultColDef="defaultColDef"
        :rowData="itemsData"
        rowSelection="multiple"
        colResizeDefault="shift"
        :animateRows="true"
        :floatingFilter="true"
        :pagination="true"
        :paginationPageSize="paginationPageSize"
        :suppressPaginationPanel="true"
        :enableRtl="$vs.rtl">
      </ag-grid-vue>

      <div class="vx-row">
        <div class="vx-col sm:w-1/2 w-full">
          <!-- ITEMS PER PAGE -->
          <vs-dropdown vs-trigger-click class="cursor-pointer">
            <div class="p-4 border border-solid d-theme-border-grey-light rounded-full d-theme-dark-bg cursor-pointer flex items-center justify-between font-medium">
              <span class="mr-2">{{ currentPage * paginationPageSize - (paginationPageSize - 1) }} - {{ itemsData.length - currentPage * paginationPageSize > 0 ? currentPage * paginationPageSize : itemsData.length }} of {{ itemsData.length }}</span>
              <feather-icon icon="ChevronDownIcon" svgClasses="h-4 w-4" />
            </div>
            <!-- <vs-button class="btn-drop" type="line" color="primary" icon-pack="feather" icon="icon-chevron-down"></vs-button> -->
            <vs-dropdown-menu>

              <vs-dropdown-item @click="gridApi.paginationSetPageSize(10)">
                <span>10</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(20)">
                <span>20</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(25)">
                <span>25</span>
              </vs-dropdown-item>
              <vs-dropdown-item @click="gridApi.paginationSetPageSize(30)">
                <span>30</span>
              </vs-dropdown-item>
            </vs-dropdown-menu>
          </vs-dropdown>
        </div>

        <div class="vx-col sm:w-1/2 w-full">
          <!-- PAGINATION -->
          <vs-pagination
            :total="totalPages"
            :max="7"
            v-model="currentPage" />
        </div>
      </div>

    </div>

    <!--  Popup Edit Request  -->
    <vs-popup classContent="popup-example" :title="`${$i18n.t('RequestMessenger')}`" :active.sync="popupRequest">

      <div class="vx-row">
        <div class="vx-col md:w-4/12 w-full">
          <vs-input type="date" class="w-full mb-3" :disabled="form.status == 0 || form.status == 1 || form.status == 2 || form.status == 3 || form.status == 4" :label="$i18n.t('Date')" v-model="form.date" />
        </div>
        <div class="vx-col md:w-4/12 w-full">
          <vs-input type="time" class="w-full mb-3" :disabled="form.status == 0 || form.status == 1 || form.status == 3 || form.status == 4" :label="$i18n.t('TimeOut')" v-model="form.waktu_keluar" />
        </div>
        <div class="vx-col md:w-4/12 w-full">
          <vs-input type="time" class="w-full mb-3" :disabled="form.status == 0 || form.status == 3 || form.status == 4" :label="$i18n.t('TimeCome')" v-model="form.waktu_datang" />
        </div>
      </div>

      <div class="vx-row">
        <div class="vx-col md:w-8/12 w-full">
          <vs-input class="w-full mb-3" :disabled="form.status == 0 || form.status == 1 || form.status == 2 || form.status == 3 || form.status == 4" :label="$i18n.t('PurposeReal')" v-model="form.tujuan" />
        </div>
        <div class="vx-col md:w-4/12 w-full">
          <small class="mb-1">{{ $i18n.t('Priority') }}</small>
          <v-select v-model="form.priority" :disabled="form.status == 0 || form.status == 1 || form.status == 2 || form.status == 3 || form.status == 4" :reduce="item => item.value" :options="priorities" label="text"></v-select>
        </div>
      </div>

      <vs-textarea height="200px" class="w-full mb-5 mt-3" :label="$i18n.t('Description')" v-model="form.keterangan" />

      <vs-button color="primary" type="filled" @click="addRequest" v-if="!select">Save</vs-button>
      <vs-button color="primary" type="filled" @click="updateStatus" v-else>Update</vs-button>

    </vs-popup>

    <!--  Popup Edit Status  -->
    <vs-popup classContent="popup-example" :title="`${$i18n.t('RequestMessenger')}`" :active.sync="popupEditStatus">
      <div class="vx-row mb-5" v-if="select">
        <div class="vx-col md:w-1/2 w-full">
          <small class="mb-1">{{ $i18n.t('Status') }}</small>
          <v-select v-model="form.status" :disabled="form.status == 3 || form.status == 4" :reduce="item => item.value" :options="status.filter(s => s.value != 0)" label="text"></v-select>
        </div>
        <div class="vx-col md:w-1/2 w-full">
          <small class="mb-1">{{ $i18n.t('Messenger') }}</small>
          <v-select v-model="form.id_driver" :disabled="form.status == 3 || form.status == 4" :reduce="item => item.nik" :options="messengers.concat([{nik: 0, name: '-'}])" label="name"></v-select>
        </div>
      </div>

      <vs-button color="primary" type="filled" @click="addRequest" v-if="!select">Save</vs-button>
      <vs-button color="primary" type="filled" @click="updateStatus" v-else>Update</vs-button>

    </vs-popup>

    <!--  Popup Confirm Finish  -->
    <vs-popup classContent="popup-example" :title="`Confirm Finish ${$i18n.t('RequestMessenger')}`" :active.sync="popupFinish">

      <div class="vx-row mb-5" v-if="select">
        <div class="vx-col md:w-1/2 w-full">
          <vs-checkbox color="primary" v-model="form.finish">Check to confirm finish</vs-checkbox>
        </div>
      </div>

      <vs-button color="primary" type="filled" @click="finishRequest" :disabled="!form.finish">Finish</vs-button>

    </vs-popup>

    <!--  Popup Detail  -->
    <vs-popup classContent="popup-example" :title="`Detail ${$i18n.t('RequestMessenger')}`" :active.sync="popupDetail" v-if="select">

      <div class="vx-row">

        <div class="vx-col md:w-4/12 w-full">
          <h6 class="mb-1 text-gray">Tanggal</h6>
          <p style="font-size: 18px;">{{select.date}}</p>
        </div>
        <div class="vx-col md:w-8/12 w-full">
          <h6 class="mb-1 text-gray">Originator</h6>
          <p style="font-size: 18px;">{{select.originator}}</p>
        </div>

      </div>

      <vs-divider></vs-divider>

      <div class="vx-row">
        <div class="vx-col md:w-4/12 w-full">
          <h6 class="mb-1 text-gray">Tujuan</h6>
          <p style="font-size: 18px;">{{select.tujuan}}</p>
        </div>
        <div class="vx-col md:w-4/12 w-full">
          <h6 class="mb-1 text-gray">Waktu Keluar</h6>
          <p style="font-size: 18px;">{{select.waktu_keluar}}</p>
        </div>
        <div class="vx-col md:w-4/12 w-full">
          <h6 class="mb-1 text-gray">Waktu Datang</h6>
          <p style="font-size: 18px;">{{select.waktu_datang}}</p>
        </div>
      </div>

      <vs-divider></vs-divider>

      <div class="vx-row">

        <div class="vx-col md:w-4/12 w-full">
          <h6 class="mb-1">Messenger</h6>
          <p style="font-size: 18px;">{{select.messenger ? select.messenger.name : '-'}}</p>
        </div>
        <div class="vx-col md:w-8/12 w-full">
          <h6 class="mb-1">Mobil/Jenis</h6>
          <p style="font-size: 18px;">{{jenis.find(j => j.id == select.jenis).name}}</p>
        </div>

      </div>

      <vs-divider></vs-divider>

      <div class="vx-row">
        <div class="vx-col md:w-12/12 w-full">
          <h6 class="mb-1">Keterangan</h6>
          <p>{{select.keterangan}}</p>
        </div>
      </div>

      <vs-divider></vs-divider>

      <div class="vx-row">
        <div class="vx-col md:w-4/12 w-full">
          <h6 class="mb-1">Priority</h6>
          <p>{{priorities.find(priority => select.priority == priority.value).text}}</p>
        </div>
        <div class="vx-col md:w-4/12 w-full">
          <h6 class="mb-1">Status</h6>
          <p>{{status.find(s => select.status == s.value).text}}</p>
        </div>
      </div>

    </vs-popup>

  </div>

</template>

<script>
import { AgGridVue } from 'ag-grid-vue'
import '@/assets/scss/vuexy/extraComponents/agGridStyleOverride.scss'
import vSelect from 'vue-select'

// Store Module
import moduleUserManagement from '@/store/user-management/moduleUserManagement.js'

// Cell Renderer
import CellRendererStatus from './cell-renderer/CellRendererStatus.vue'
import CellRendererActions from './cell-renderer/CellRendererActions.vue'
import CellRendererPriority from "./cell-renderer/CellRendererPriority"
import CellRendererLink from "./cell-renderer/CellRendererLink"
import CellRendererCar from "./cell-renderer/CellRendererCar";


export default {
  components: {
    AgGridVue,
    vSelect,

    // Cell Renderer
    CellRendererStatus,
    CellRendererActions,
    CellRendererPriority,
    CellRendererLink,
    CellRendererCar
  },
  data () {
    return {
      date: '',
      colors: ['bg-primary', 'bg-primary', 'bg-warning'],
      popupEditStatus: false,
      popupDetail: false,
      popupFinish: false,
      popupRequest: false,
      form: {
        priority: 1,
        id_driver: 0,
        jenis: ""
      },
      times: [8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
      selected: [],
      select: false,
      priorities: [
        {text: "Urgent", value:1},
        {text: "Major", value:2},
        {text: "Minor", value:3},
      ],
      jenis: [
        {name: "-", id:0},
        {name: "Proton BOLD (B 1437 PRY)", id:1},
        {name: "Proton PRIME (B 149 AST)", id:2},
        {name: "Taxy", id:3},
        {name: "Hyundai SANTA FE (B 152 AST)", id:4},
        {name: "Toyota RUSH (B 2585 PFT)", id:5},
      ],
      messengers: [],

      searchQuery: '',

      // AgGrid
      gridApi: null,
      gridOptions: {},
      defaultColDef: {
        sortable: true,
        resizable: true,
        suppressMenu: true
      },
      columnDefs: [
        {
          headerName: 'Action',
          width: 100,
          cellClass: 'text-center',
          cellRendererFramework: 'CellRendererActions',
          cellRendererParams: {
            editItem: this.editItem.bind(this)
          }
        },
        {
          headerName: 'Status',
          field: 'status',
          filter: true,
          width: 150,
          cellClass: 'text-center',
          cellRendererFramework: 'CellRendererStatus',
          cellRendererParams: {
            editStatus: this.editStatus.bind(this)
          }
        },
        {
          headerName: 'Originator',
          field: 'originator',
          filter: true,
          width: 150,
        },
        {
          headerName: 'Tujuan',
          field: 'tujuan',
          filter: true,
          width: 120,
        },
        {
          headerName: 'Waktu Keluar',
          field: 'waktu_keluar',
          filter: true,
          width: 100,
        },
        {
          headerName: 'Waktu Datang',
          field: 'waktu_datang',
          filter: true,
          width: 100,
        },
        {
          headerName: 'Messenger',
          field: 'messenger.name',
          filter: true,
          width: 100,
          cellRendererFramework: 'CellRendererLink',
        },
        {
          headerName: 'Priority',
          field: 'priority',
          filter: true,
          width: 100,
          cellClass: 'text-center',
          cellRendererFramework: 'CellRendererPriority',
        }
      ],

      // Cell Renderer Components
      components: {
        CellRendererStatus,
        CellRendererActions,
        CellRendererPriority,
        CellRendererLink,
        CellRendererCar
      }
    }
  },
  watch: {
    date () {
      this.loadRequest(this.date);
    }
  },
  computed: {
    status () {
      let stat = [
        {text: "Finish", value:0, color: 'primary'},
        {text: "Approved", value:1, color: 'success'},
        {text: "Waiting Approval", value:2, color: 'warning'},
        {text: "Reject", value:3, color: 'orange'},
        {text: "Cancel", value:4, color: 'danger'},
      ];

      return stat;
    },
    itemsData () {
      return this.$store.state.request.items
    },
    paginationPageSize () {
      if (this.gridApi) return this.gridApi.paginationGetPageSize()
      else return 10
    },
    totalPages () {
      if (this.gridApi) return this.gridApi.paginationGetTotalPages()
      else return 0
    },
    currentPage: {
      get () {
        if (this.gridApi) return this.gridApi.paginationGetCurrentPage() + 1
        else return 1
      },
      set (val) {
        this.gridApi.paginationGoToPage(val - 1)
      }
    },

    items () {
      let names = this.$store.state.request.messengers.map(messenger => messenger.name);

      let messengers = [];
      names.forEach(name => {
        let schedules = [];

        this.$store.state.request.items.forEach(req => {
          if (req.messenger && req.status == 1) {
            if (req.messenger.name == name) {
              let waktu_keluar = req.waktu_keluar,
                waktu_datang = req.waktu_datang;

              schedules.push({
                waktu_keluar,
                waktu_datang,
                req,
                car: this.jenis.find(j => j.id == req.jenis).name
              })
            }
          }
        });

        messengers.push({
          name,
          schedules
        })
      });

      return messengers;
    },
  },
  methods: {

    updateSearchQuery (val) {
      this.gridApi.setQuickFilter(val)
    },

    getOrderStatusColor (status) {
      if (status === 2)   return 'warning'
      if (status === 1) return 'success'
      if (status === 0) return 'primary'
      if (status === 3)  return 'danger'
      return 'danger'
    },
    loadRequest (date = false) {
      let params = {
        type: 'messenger',
        date
      };

      this.$store.dispatch('request/fetchItems', { params }).then(resp => {
        this.date = resp.data.values.date;
      }).catch(err => {
        if (!err.response) {
          // network error
          err.response = {
            data: {
              message: 'Server error'
            }
          };
        }

        this.$vs.notify({
          title:'Opps something error',
          text: err.response.data.message,
          color:'danger'})
      });
    },
    loadMessengers () {
      this.$store.dispatch("request/fetchMessengers").then(response => {
        this.messengers = response.data.values;
      });
    },
    addItem () {
      this.form = {
        priority: 1,
        id_driver: 0,
        jenis: ""
      };
      this.popupRequest = true;
      this.select = false;
      this.form.date = this.date;
    },
    editItem (request) {
      this.popupRequest = true;

      this.select = request;
      this.form = this.select;
    },
    editStatus (request) {
      if (request.status == 1) {
        this.popupFinish = true;
      } else {
        this.popupEditStatus = true;
      }

      this.select = request;
      this.form = this.select;
    },
    showRequest (request) {
      this.select = request;
      this.popupDetail = true;
    },
    addRequest () {
      let payload = {
        body: this.form
      };
      payload.body.originator = this.$store.state.AppActiveUser.employee.name;
      payload.body.transport = "Motor";

      this.$store.dispatch("request/storeItem", payload).then((response) => {
        this.popupRequest = false;
        this.$swal({
          title: 'Successful',
          text: response.data.message,
          icon: 'success'
        }).then(() => {
          this.date = payload.body.date;
          this.loadRequest(payload.body.date);
        });
      }).catch(err => {
        console.log(err);
        if (!err) {
          // network error
          err.response = {
            data: {
              message: 'Server error'
            }
          };
        }
        this.$vs.notify({
          title:'Opps something error',
          text: err.data.message,
          color:'danger'})
      });
    },
    updateStatus () {
      let payload = {
        body: this.form
      };

      payload.body._method = 'PUT';
      payload.body.originator = this.$store.state.AppActiveUser.employee.name;
      payload.id = this.select.id;

      this.$store.dispatch("request/updateItem", payload).then((response) => {
        this.popupEditStatus = false;
        this.popupRequest = false;
        this.$swal({
          title: 'Successful',
          text: response.data.message,
          icon: 'success'
        }).then(() => {
          this.date = payload.body.date;
          this.loadRequest(payload.body.date);
        });
      }).catch(err => {
        if (!err.response) {
          // network error
          err.response = {
            data: {
              message: 'Server error'
            }
          };
        }

        this.$vs.notify({
          title:'Opps something error',
          text: err.response.data.message,
          color:'danger'})
      });
    },

    finishRequest () {
      let payload = {
        body: this.form
      };

      payload.body._method = 'PUT';
      payload.body.originator = this.$store.state.AppActiveUser.employee.name;
      payload.finish = true;
      payload.id = this.select.id;

      this.$store.dispatch("request/updateItem", payload).then((response) => {
        this.popupFinish = false;
        this.$swal({
          title: 'Successful',
          text: response.data.message,
          icon: 'success'
        }).then(() => {
          this.date = payload.body.date;
          this.loadRequest(payload.body.date);
        });
      }).catch(err => {
        if (!err.response) {
          // network error
          err.response = {
            data: {
              message: 'Server error'
            }
          };
        }

        this.$vs.notify({
          title:'Opps something error',
          text: err.response.data.message,
          color:'danger'})
      });
    },

    getLeft (item) {
      let startMinutes = 8 * 60;
      let startTimeMinutes = new Date(`2020-12-12 ${item.waktu_keluar}`).getMinutes() + new Date(`2020-12-12 ${item.waktu_keluar}`).getHours() * 60;


      let diff = startTimeMinutes - startMinutes;
      let all = this.times.length * 60;

      let result = (diff/all) * 100;

      return result;
    },

    getWidth (item) {
      let startTimeMinutes = new Date(`2020-12-12 ${item.waktu_keluar}`).getMinutes() + new Date(`2020-12-12 ${item.waktu_keluar}`).getHours() * 60;
      let endTimeMinutes = new Date(`2020-12-12 ${item.waktu_datang}`).getMinutes() + new Date(`2020-12-12 ${item.waktu_datang}`).getHours() * 60;

      let diff = endTimeMinutes - startTimeMinutes;
      let all = this.times.length * 60;

      let result = (diff/all) * 100;

      return result;
    }

  },
  mounted () {
    this.gridApi = this.gridOptions.api
    if (this.$vs.rtl) {
      const header = this.$refs.agGridTable.$el.querySelector('.ag-header-container')
      header.style.left = `-${  String(Number(header.style.transform.slice(11, -3)) + 9)  }px`
    }
  },
  created () {
    this.loadRequest();
    this.loadMessengers();
  }
}

</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}

.schedule {
  width: 100%;
}
.schedule-title {
  padding: 8px;
}
.schedule-header {
  display: grid;
  grid-template-columns: 2fr 8fr;
  border-bottom: 1px solid #808080;
  border-top: 1px solid #808080;
}
.schedule-times {
  display: grid;
}
.time {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
}
.schedule-messenger {
  white-space: nowrap;
  overflow: hidden;
  padding: 8px;
}
.schedule-item {
  display: grid;
  grid-template-columns: 2fr 8fr;
  border-bottom: 1px solid #808080;
}
.schedule-fill {
  position: relative;
  overflow: hidden;
}
.schedule-fill-item {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
  padding: 0px 8px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  transition: .4s;
}
</style>
