<template>

  <div id="page-user-list">

    <div class="vx-card p-6 mb-base">
      <h1 class="text-lg text-danger font-semibold">This page is under maintenance</h1>
    </div>

  </div>

</template>

<script>

export default {

}

</script>

<style lang="scss">
#page-user-list {
  .user-list-filters {
    .vs__actions {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
    }
  }
}
.con-vs-popup .vs-popup--content {
  overflow: visible;
}
</style>
